<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSecreto= "1673276819">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="style/style.css">
    <title>Site Exercicio 2</title>
</head>
<body>
  <div class="container">

    <nav>
        <div class="nav-wrapper darkBlue">
          <a href="index.html" class="brand-logo">iniciar</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="noticias.html">Canais de noticias</a></li>
            <li><a href="adicionarPessoa.html">Adicionar Pessoa</a></li>
            <li><a href="listarPessoas.html">Listar pessoas</a></li>
            <li><a href="sobre.html">Sobre o Site</a></li>
            <li><a href="contato.html">Mande um e-mail pra mim</a></li>
          </ul>
        </div>
      </nav>
      <img src="images/passarinho-bonito-de-gouldian-austrália-104447944.jpg" style="width: 100%" alt="passaros">

    </div> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>