<!DOCTYPE html>
<html lang="pt_br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta codigoSecreto="1813922036">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" th:href="@{/style/style.css}">
<title>Site Exercicio Agropopshop</title>
</head>
<body>
	<div classe="container">

		<nav>
			<div class="nav-wrapper indigo darken-4">
				<a href="/" class="brand-logo">iniciar</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="public/noticias.html">Canais de noticias</a></li>
					<li><a href="/adicionarClientes">Adicionar Cliente</a></li>
					<li><a href="/adicionarProdutos">Adicionar Produto</a></li>
					<li><a href="/listarClientes">Listar clientes</a></li>
				    <li><a href="/listarProdutos">Listar produtoss</a></li>
                    <li><a href="public/sobre.html">Sobre o Site</a></li>
				    <li><a href="public/contato.html">Mande um e-mail pra mim</a></li>
				</ul>
			</div>
		</nav>

		 <form th:action="@{/adicionarProdutos}" th:object="${produto}" method="POST">

			<h3 style="padding: 10px 0 20px 0;">formulário de cadastrar
				produto:</h3>
			<div class="margin-top:20px;">
				<div class="row">
					<div class="input-field col m6 s12">
						<input placeholder=" Nome do produto aqui"
							th:field="*{nomeproduto}"> <label for="nameproduto">Nome
							do Podruto</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="row">
					<div class="input-field col m6 s12">
						<input type="date" placeholder="dd/mmm/aaaa"
							th:field="*{datavalidade}"> <label for="date">Data
							Validade</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="row">
					<div class="input-field col m6 s12">
						<input placeholder="códigoproduto" th:field="*{códigoproduto}"
							id="códigoproduto" type="text" class="validate"> <label
							for="códigoproduto">Códigoproduto</label>
					</div>
				</div>
			</div>

			<label for="first_name">Qualidade</label>

			<p>
				<label> <input name="qualidade" type="radio"
					th:field="*{genero}" value="Perecivel" /> <span>Perecivel</span>
				</label>
			</p>
			<p>
				<label> <input name="qualidade" type="radio"
					th:field="*{genero}" value="NãoPerecivel" /> <span>NãoPerecivel</span>
				</label>
			</p>
			<p>
				<label> <input nome="qualidade" type="radio"
					th:field="*{genero}" value="Não informado" /> <span>Não
						informado</span>
				</label>
			</p>
			<button class="btn waves-effect waves-light" type="reset"
				style="margin: 10px 5px">Limpar</button>

			<button class="btn waves-effect waves-light" type="submit">Cadastrar</button>

			<form>

				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

