<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSecreto= "1813922036">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" th:href="@{style/style.css}">
    <title>Site Exercício Agropopshop</title>
</head>
<body>
  <div class="container">

  <nav>
			<div class="nav-wrapper indigo darken-4">
				<a href="/" class="brand-logo">iniciar</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="public/noticias.html">Canais de noticias</a></li>
					<li><a href="/adicionarClientes">Adicionar Cliente</a></li>
					<li><a href="/adicionarProdutos">Adicionar Produto</a></li>
					<li><a href="/listarClientes">Listar clientes</a></li>
				    <li><a href="/listarProdutos">Listar produtoss</a></li>
                    <li><a href="public/sobre.html">Sobre o Site</a></li>
				    <li><a href="public/contato.html">Mande um e-mail pra mim</a></li>
				</ul>
			</div>
		</nav>
      
         <form th:action="@{/editar/{id}(id=${cliente.id})}" th:object="${cliente}" method="POST">

          <h3 style="padding: 10px 0 20px 0 ;">Formulário para editar clientes:</h3>

      <div class="row" style="margin: top 20px;">
        
          <div class="row">
            <div class="input-field col m6 s12">
              <input placeholder="Seu nome completo aqui" th:field=*{nome} id="nome" type="text" class="validate">
              <label for="nome">Nome Completo</label>
            </div>
          </div>
          
      </div>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col m6 s12">
              <input type="date" placeholder="dd/mm/aaaa" th:field=*{dataNascimento} id="date" class="validate">
              <label for="date">Data de Nascimento</label>
            </div>
          </div>
         
      </div>
      <div class="row">
        
          <div class="row">
            <div class="input-field col m6 s12">
              <input placeholder="nome@dominio.com" th:field=*{email} id="email" type="text" class="validate">
              <label for="email">E-mail</label>
            </div>
          </div>
          
      </div>
      <label>Sexo</label>

      <p>
        <label>
          <input name="sexo" type="radio" value="Masculino" th:field=*{genero}  />
          <span>Masculino</span>
        </label>
      </p>
      <p>
        <label>
          <input name="sexo" type="radio" value="Feminino" th:field=*{genero} />
          <span>Feminino</span>
        </label>
      </p>
      <p>
        <label>
          <input  name="sexo" type="radio" value="Não informado" th:field=*{genero}  />
          <span>Não informar</span>
        </label>
      </p>
      
      <button class="btn waves-effect waves-light" type="reset" style="margin: 10px 5px;">Limpar</button>

      <button class="btn waves-effect waves-light" type="submit">Editar</button>

    </form>

    </div> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

