<!DOCTYPE html>
<html lang="pt_br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta codigoSecreto="1813922036">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" th:href="@{/style/style.css}">
<title>Site Exercicio Agropopshop</title>
</head>
<body>
	<div class="container">

		<nav>
			<div class="nav-wrapper indigo darken-4">
				<a href="/" class="brand-logo">iniciar</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="public/vendas.html">Canal de vendas</a></li>
					<li><a href="/cadastrarcliente">Cadastrar cliente</a></li>
					<li><a href="/cadastrarproduto">Cadastrar produto</a></li>
					<li><a href="/listarcliente">Listar cliente</a></li>
					<li><a href="/listarproduto">Listar produto</a></li>
					<li><a href="public/sobre.html">Sobre o site</a></li>
					<li><a href="public/contato.html">Mande um e-mail</a></li>

				</ul>
			</div>
		</nav>
		<img th:src="@{images/agropecuc381ria-0.jpg}" style="width: 100%"
			alt="agropec">
	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>