<!DOCTYPE html>
<html lang="pt_br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta codigoSecreto="1813922036">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" th:href="@{style/style.css}">
<title>Site Exercício Agropopshop</title>
</head>
<body>
	<div class="container">

		<nav>
			<div class="nav-wrapper indigo darken-4">
				<a href="/" class="brand-logo">iniciar</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="public/vendas.html">Canais de Vendas</a></li>
					<li><a href="/adicionarClientes">Adicionar Cliente</a></li>
					<li><a href="/adicionarProdutos">Adicionar Produto</a></li>
					<li><a href="/listarClientes">Listar clientes</a></li>
				    <li><a href="/listarProdutos">Listar produtos</a></li>
                    <li><a href="public/sobre.html">Sobre o Site</a></li>
				    <li><a href="public/contato.html">Mande um e-mail pra mim</a></li>
				</ul>
			</div>
			<nav>
    <div class="nav-wrapper indigo">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
		</nav>
		<h4 style="text-align: center; padding: 8px 0 20px 0;">Lista de 
			Produtos Cadastrados</h4>
		<table class="centered" >
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome do Produto</th>
					<th>Marca</th>
					<th>Peso</th>
					<th>Altura</th>
					<th>Preco</th>
					<th>Largura</th>
					<th>Profundidade</th>
					<th>Volume</th>
					<th>Editar</th>
					<th>Remover</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="produto: ${produtos}">

					<td th:text="${produto.id}"></td>
					<td th:text="${produto.nome}"></td>
					<td th:text="${produto.marca}"></td>
					<td th:text="${produto.peso}"></td>
					<td th:text="${produto.altura +'cm'}"></td>
					<td th:text="${produto.preco}"></td>
					<td th:text="${produto.largura +'cm'}"></td>
					<td th:text="${produto.profundidade +'cm'}"></td>
					<td th:text="${produto.altura*produto.largura*produto.profundidade}+'cm'"></td>
					<td><a th:href="@{/editarProduto/{id}(id=${produto.id})}">Editar</a></td>
					<td><a th:href="@{/removerProduto/{id}(id=${produto.id})}">Remover</a></td>
				</tr>

			</tbody>
		</table>

	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

