<! DOCTYPE html>
<html lang="pt_br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta nome="viewport"
	conteúdo="largura=largura do dispositivo, escala inicial=1,0">
<meta codigoSecreto="1813922036">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" th:href="@{style/style.css}">
<title>Site Exercício Unidade 2</title>
</head>
<body>
	<classe div="container">

	<nav>
		<div class="nav-wrapper indigo darken-4">
			<a href="/" class="brand-logo">iniciar</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="public/vendas.html">Canal de vendas</a></li>
				<li><a href="/cadastrarcliente">Cadastrar cliente</a></li>
				<li><a href="/cadastrarproduto">Cadastrar produto</a></li>
				<li><a href="/listarcliente">Listar cliente</a></li>
				<li><a href="/listarproduto">Listar produto</a></li>
				<li><a href="public/sobre.html">Sobre o site</a></li>
				<li><a href="public/contato.html">Mande um e-mail</a></li>

			</ul>
		</div>
	</nav>

	<h4 style="text-align: center; padding: 8px 0 20px 0;">Lista de
		Cliente Cadastradas</h4>
	<table>
		<thead>
			<tr>
					<th>Id</th>
					<th>Nome Completo</th>
					<th>Data de Nascimento</th>
					<th>E-mail</th>
					<th>Sexo</th>
					<th>Editar</th>
					<th>Remover</th>
				</tr>
		</thead>

		<tbody>
			<tr th:each="cliente: ${clientes}">

				<td th:text="${cliente.id}"></td>
				<td th:text="${cliente.nome}"></td>
				<td
					th:text="${#temporals.format (cliente.dataNascimento,'dd/MM/yyyy'}}"></td>
				<td><a href="malito:anny@cavalcante.com"
					th:text="${cliente.email}"></a></td>
				<td th:text="${cliente.genero}"></td>
				<td><a th:href="@{/editar/{id}(id=${cliente.id}}}">Editar</a></td>
				<td><a th:href="@{/removedor/{id}(id=${cliente.id}}}">Removedor</a>
				<td>
			</tr>

		</tbody>
	</table>

	</div>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>